@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Smokum", cursive;
}
body > h1 {
  font-size: 7rem;
}
.gameBoard {
  display: grid;
  width: 415px;
  height: 415px;
  gap: 2px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: black;
}
.gameBoard > div {
  background-color: white;
  font-size: 100px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maxsize {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-top {
  border-top: none;
}
.no-right {
  border-right: none;
}
.no-bottom {
  border-bottom: none;
}
.no-left {
  border-left: none;
}
