@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  letter-spacing: 3px;
}
body {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Smokum", cursive;
}
body > h1 {
  font-size: 7rem;
}
body > p {
  font-size: 3.5rem;
  margin-top: 20px;
}
input[type="text"] {
  font-size: 3rem;
  margin-bottom: 30px;
  padding: 10px;
  font-family: "Smokum", cursive;
}
label {
  font-size: 2em;
}
.buttons {
  display: flex;
  flex-direction: column;
  transition: all 2s linear;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-chose {
  padding: 0.8em 1.8em;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  transition: 0.3s;
  z-index: 1;
  color: black;
  margin-top: 50px;
  width: 530px;
  cursor: pointer;
  font-family: "Smokum", cursive;
}

.button-chose::before {
  content: "";
  width: 0;
  height: 400%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: black;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button-chose:hover::before {
  width: 105%;
}

.button-chose:hover {
  color: lightblue;
}
.gameBoard {
  display: grid;
  width: 415px;
  height: 415px;
  gap: 2px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: black;
}
.gameBoard > div {
  background-color: white;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pressable {
  cursor: pointer;
  transition: 0.3s ease;
}
.pressable:hover {
  opacity: 0.7;
}
.play {
  margin-bottom: 30px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 2rem;
  background-color: white;
  font-family: "Smokum", cursive;
}
.play:not(:disabled):hover {
  transform: scale(1.05);
  background-color: inherit;
  color: white;
  font-weight: 700;
}
.play:disabled {
  background-color: #ddd;
  cursor: initial;
}
.maxsize {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-top {
  border-top: none;
}
.no-right {
  border-right: none;
}
.no-bottom {
  border-bottom: none;
}
.no-left {
  border-left: none;
}
.hidden {
  display: none;
}
